.first {
  color: #000000;
  text-align: justify;
}
.second {
  color: #383434;
  text-align: justify;
}
.third {
  color: #635b5b;
  text-align: justify;
}
.about {
  font-family: sans-serif;
  text-align: jusify;
}