.first {
  color: #000000;
  text-align: justify;
}
.second {
  color: #1d1b1b;
  text-align: justify;
}
.third {
  color: #333232;
  text-align: justify;
}
.about {
  font-family: sans-serif;
  text-align: jusify;
}